<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<table class="tx-cm-multi table">
	<tr colspan = "2">
		<td>{questions.question}</td>
		<td></td>
	</tr>
	<f:for each="{questions.questionanswer}" as="answers">
		<tr>
			<td>{answers.answer}</td>
			<td>
				<f:if condition="answer.correct">
					<f:then>
						<input class="form-check-input me-1" data-correct = "1" type="checkbox" value="">
						answer.answer
					</f:then>
					<f:else>
						<input class="form-check-input me-1" data-corr>
					</f:else>
				</f:if>
				{answers.correct}
			</td>
		</tr>
	</f:for>
</table>
</html>
